.home-banner {
    position: relative;
    color: #2c6939;
    height: 15rem;
    padding: 1rem;
    background: linear-gradient(60deg, #f4eddd 0%, rgba(255, 254, 197, 0.403) 100%);
    /* background-color: var(--accent); */
    border-radius: 20px;
    /* box-shadow: 6px 6px 11px #cacaca,
        -6px -6px 11px #ffffff; */


}

* {
    box-sizing: border-box;
}

.home-anim {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 15rem;

    @media only screen and (max-width:900px) {
        height: 10rem;
    }
}

.banner-msg {
    font-size: small;
}

.banner-actions {
    padding: 1rem;
    padding-left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow: auto;
    bottom: 12px;

    ::after {
        content: "";
        clear: both;
        display: table;
    }
}