:root {
    /* background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgb(0, 193, 93, 1) 100%); */
    --primary-color: rgba(0, 193, 93);
}



.login-wave {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}

.login-form {
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    place-items: center;
    place-content: center;
}

.login-h1,
.login-h4 {
    color: var(--primary-color) !important;
    margin-left: 30px;
}

.login-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    /* justify-content: center; */
    align-content: center;

    @media only screen and (max-width: 600px) {
        padding-top: 50px;

        .login-h1 {
            text-align: center;
        }

        .login-h4 {
            text-align: center;
            margin-bottom: 50px;
        }
    }
}

.reg-chip {
    margin-top: 20px;
    width: 160px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    place-items: center;
}