:root {
    /* background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgb(0, 193, 93, 1) 100%); */
    --primary-color: rgba(0, 193, 93);
}

.preloader {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.677);
    align-items: center;
    justify-items: center;
    justify-content: center;
}