.chip-people {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 32px;
    gap: .3rem;
    overflow: hidden;
    border-radius: 25px;
    vertical-align: middle;
    border: 1px solid #79747e;
    text-align: center;
    padding: 0 .2rem;
    cursor: pointer;

    .chip-people-avater {
        border-radius: 25px;
        height: 25px;
        width: 25px;
        justify-self: center;
        align-self: center;
    }

    .label {
        text-align: center;
        color: #49454f;
        align-self: center;
    }

    .close-icon {
        cursor: pointer;
        height: 24px;
        width: 24px;
        align-self: center;
        text-align: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        vertical-align: middle;
        padding: .2rem;
        position: relative;
        border-radius: 25px;
    }
}