.quiz-tab-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.quiz-tabs {
    /* margin-top: 1rem; */
    min-width: 80%;
    border-radius: 0 0 25px 25px;
    border: 1px solid rgb(202, 202, 202);
    border-top: none;
    /* align-self: center;
    justify-self: center;
    place-self: center; */
}

.add-quiz-fab {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
}

.quiz-actions {
    display: flex;
    flex-direction: row !important;
    column-gap: 1rem !important;

    @media only screen and (max-width:900px) {
        flex-direction: column !important;
        row-gap: 1rem;
    }
}