root {
    color-scheme: light dark;
}

.SideDrawer {
    font-family: 'Open Sans';
    /* background-color: var(--accent); */
    top: 0;
    left: 0;
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 1rem 1rem 1rem 1rem;
}

.SideDrawer.mobile {
    @media only screen and (max-width: 600px) {
        /* margin-left: -190px; */
        width: 100px;
        transition: all .2s ease;

        .drawer-item {
            gap: 0;
            align-items: center;
            justify-items: center;
            justify-content: center;
        }
    }
}

.mobile .drawer-item-title {
    transition: all ease .3s;
    display: none;
}

.brand-name {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--md-sys-color-primary);
    font-family: 'Montserrat';
    text-align: center;
    /* text-align: center; */
}

.drawer-menu {
    list-style: none;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.menu-sub {
    font-size: 10px;
    /* color: rgb(156, 156, 156); */
    color: black;
    margin-left: .5rem;
    margin-top: .5rem;
}

.drawer-item {
    position: relative;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    transition: .2s ease;
    font-family: 'Montserrat';
    display: flex;
    padding: .8rem 1rem;
    border-radius: 25px;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    margin-bottom: .2rem;
    color: var(--normal-text-c);

}

.drawer-item .material-symbols-rounded {
    font-size: 25px;
    text-align: center;
    padding: 0;
    /* color: black; */
}

.drawer-item .drawer-item-title {
    text-align: center;
    font-size: 12px;
    padding: 0;
}

.drawer-item .drawer-title {
    display: inline;
}

.drawer-item.active {
    background-color: #f4eddd !important;
    /* color: #006a00; */
    color: var(--md-sys-color-primary);
    font-weight: bold;
    transition: .1s ease-in;
    /* box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1) !important; */
    border-radius: 25px;
    /* background: linear-gradient(145deg, #cbe5d8, #f2ffff); */
    /* box-shadow: 5px 5px 9px #d0eadd,
        -5px -5px 9px #f4ffff !important; */
}

.drawer-item:hover {
    transition: .2s ease-in;
    /* color: var(--primary); */
    color: black;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.user-profile {
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: .5rem;
    justify-items: center;
    font-family: 'Open Sans';
    overflow-x: hidden;

    @media only screen and (max-width: 600px) {
        flex-wrap: wrap;
        gap: 0;
    }

    .user-info {
        display: flex;
        flex-direction: column;
        justify-items: center;
        place-content: center;
        gap: -0;
    }

    .user-name {
        color: black;
        padding: 0;
        font-size: 11px;
        text-transform: capitalize;
    }

    .user-email {
        padding: 0;
        font-weight: bold;
        color: rgb(1, 166, 249);
        font-size: 10px;
    }
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid rgb(1, 166, 249);

}