:root {
    --md-sys-color-primary: #006a00;
    --md-sys-color-on-primary: #FFFFFF;
    --md-sys-color-primary-container: #e5feeb;
    --md-sys-color-on-primary-container: #002020;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    height: 100%;
    color-scheme: light dark;
    background-color: var(--md-sys-color-primary-container);
    --primary-light: rgba(0, 193, 93) !important;
    --primary: rgba(0, 193, 93) !important;
    color: var(--primary);

    /* font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

#root {
    height: 100%;
}

/* body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    background: var(--bg-color);
} */